**bin/condicionalIF.exe
**bin/entradaDatos.exe
**bin/reasignarValorAVariable.exe
**bin/operacionesConDecimales.exe
**bin/variables.exe
**bin/evalTipoDeDatoYCLASS.exe
**bin/nivelesVariables.exe
**bin/nivelEjec88.exe
**bin/opLogicos.exe
**bin/IFanidELSE.exe
**bin/condicionalEvaluate.exe
**bin/manejoErrores.exe
**bin/redondeoDec.exe
**bin/IFdeSigno.exe
**bin/IFdeClaseOtipo.exe
**bin/listasNivel88.exe
**bin/elVerboPerform.exe
**bin/creandoMenuDeConsola.exe
**bin/calculadora.exe
**bin/performThruYThrough.exe
**bin/buclesPerformTimes.exe